*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #efefef;
}
.nav{
	width: 375px;
	height: 37px;
	background-color: #FF852A;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 3px;
	position: fixed;
	top: 0px;
}
.nav .logo{
	height: 37px;
	width: 37px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 71%;
	background-position: center;
	
}
.nav .search{
	display: flex;
	width: 325px;
	height: 25px;
	background: #FF4E22;
	justify-content: center;
	align-items:center;
	font-family: h5index-iconfont;
	color: #F0E0DC;
	font-size: 13px;
	text-decoration: none;
	
}
.search .icon{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-size: 64%;
	background-position: center;
	color: #fff;
}
/*广告图的样式*/
.Item{
	margin-top: 37px;
	width: 375px;
	height: 120px;
	background-image:url(../img/huxian.webp),url(../img/swiper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 113px,0px 0px;
}


/*十个图标的样式实际.iconList>(a.iconItem>(img.icon+span.text))*10*/
.navlist{
	width: 375px;
	height: 160px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}
.navlist .iconItem{
	
	width: 75px;
	height: 67px;
	text-decoration: none;
	font-size: 11px;
	color: rgb(102, 102, 102);
	/*text-align: center;*/
	/*设置弹性布局，方向是竖直*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	
}
.navlist .iconItem img{
	width: 80%;
	height: auto;
	
}
.iconList .iconItem .text{
	padding-top: 3px;
}
/*头条的样式
 .tuotiao>(.ttLeft+(.ttMain>(.jpItem>(a.tag+a.text))*2)+.ttRight)
 * */
.tuotiao{
	width: 375px;
	height: 60px;
	background-color: #FFFFFF;
	display: flex;

}
.tuotiao .ttLeft{
	width: 60px;
	height: 60px;
	background-image: url(../img/taotiao.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}
.tuotiao .ttMain{
	width: 232px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
}
.tuotiao .ttMain .jpItem{
	width: 232px;
	height: 19px;
	display: flex;
	align-items: center;
    justify-content: center;
	
}
.ttMain .jpItem .tag{
	display: flex;
    width: 28px;
    height: 13px;
    font-size: 10.5px;
    color: rgb(230, 10, 31);
    border: 1px solid rgb(230, 10, 31);
    border-radius: 3px;
    margin-right: 4px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ttMain .jpItem .text{
	display: block;
	width: 200px;
	height: 19px;
	color:rgb(51, 51, 51);
	text-decoration: none;
	
	/*溢出隐藏*/
	overflow: hidden;
	/*不换行*/
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tuotiao .ttright{
	width: 100px;
	height: 60px;
	background-image: url(../img/jianbian.png),url(../img/kafei.png);
	background-size: 100% 100%;
}
/*淘抢购.qg>(.qgItem>(.left>.logo+span+.prod)+.right)*4*/
.qg{
	width: 375px;
	height: 224px;
	background-color: #FFFFFF;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.qg .qgItem{
	width: 187.5px;
	height: 112px;
	display: flex;
	border-bottom: 1px solid #efefef;
}
.qg .qgItem .left{
	width: 94px;
	display: flex;
	flex-direction: column;
}
.qgItem .left .logo{
	background-image: url(../img/tqg.webp);
	height: 26px;
	width: 187px;
	background-size: 100% 100%;
}
.qgItem .left .prod{
	flex:1;
	background-image: url(../img/yifu.jpg);
	background-size: 75px auto;
	background-position: 50% 80%;
	background-repeat: no-repeat;
}
.qgItem .left span{
	font-size: 12px;
	color: rgb(153, 153, 153);
	padding-left: 10px;
	padding-top: 2px;
}
.qg .qgItem .right{
	flex: 1;
	background-image: url(../img/motoche.jpg);
	background-size: 75px auto;
	background-position: 50% 80%;
	background-repeat: no-repeat;
}
#r1{
	background-image: url(../img/qingchen.jpg);
}
/*.zhibo>(zbTop>(zbTlef>(span.title{“路转粉”每一秒都在发生}+span.text{败家主播天天有，边看直播边剁手！}))+(zbTright>(span.title{主播优选}+span.text{真皮链条包})))+
 * (zbMain>((.liveItem>(img+h1{亲子乐园}+p{印花长袖T恤}))*3))
 * +(zbBottom(.tag+.text+.qfl{抢福利}))*/
/*淘宝直播*/
.zhibo{
	width: 375px;
	height: 352.5px;
	margin-top: 20px;
	position: relative;
	background-color: #fff;
	margin-bottom: 43px;
}
.zhibo:before{
	content: "";
	display: block;
	width: 375px;
	height: 29px;
	position: absolute;
	left: 0;
	top: -13px;
	background-image: url(../img/zhibo.png);
	background-size: 100% 100%;
	z-index: 1;
}
.zhibo .zbTop{
	width: 375px;
	height: 125px;
	display: flex;
}
.zhibo .zbTop .zbTlef{
	width: 249.5px;
	height: 125px;
	background-image: url(../img/zhezhao.webp),url(../img/girl1.jpg);
	background-size: 100% 100%;
	padding-left: 10px;
	position: relative;
}
.zhibo .zbTop .zbTlef:before{
	content: "";
	width: 20px;
	height: 20px;
	background-image: url(../img/shoucang.webp);
	background-size: 100% 100%;
	position: absolute;
	right: 15px;
    bottom: 20px;
}
.zhibo .zbTop  .title{
	display: block;
	margin-top: 75px;
	font-size: 14px;
	color: #fff;
}
.zhibo .zbTop  .text{
	margin-top: -20px;
	display: block;
	font-size: 12px;
	color: #fff;
	/*透明度*/
	opacity:0.8 ;
}
.zhibo .zbTop .zbTright{
	flex: 1;
	height: 125px;
	background-image: url(../img/zhezhao.webp),url(../img/baobao.webp);
	background-size: 100% 100%;
	padding-left: 10px;
}
.zhibo .zbMain{
	width: 375px;
	height: 180px;
	display: flex;
}
.zhibo .zbMain .liveItem{
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	
}
.zhibo .zbMain .liveItem:after{
	content: "";
	display: block;
	width: 30px;
	height: 14.5px;
	background-image: url(../img/live.png);
	background-size: cover;
	background-position: center center;
	position: absolute;
	bottom: 55px;
}
.zhibo .zbMain .liveItem img{
	width: 100%;
	height: auto;
}
.zhibo .zbMain .liveItem h1{
	font-size: 14px;
	color: rgb(51, 51, 51);
	padding: 5px 10px 0px;
}
.zhibo .zbMain .liveItem p{
	font-size: 12px;
	color: rgb(153, 153, 153);
	padding: 0px 10px;
}
.zhibo .zbBottom{
	width: 375px;
	height: 36px;
	display: flex;
	align-items: center;
	position: relative;
}
.zhibo .zbBottom .tag{
	display: inline-block;
    font-size: 12px;
    height: 16px;
    margin-left: 10px;
    color: rgb(253, 30, 87);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(253, 30, 87);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    line-height: 13px;
    
}
.zhibo .zbBottom .text{
	
	width: 169px;
	height: 16px;
	font-size: 12.5px;
	padding-left: 5px;
}
.zhibo .zbBottom .qfl{
	font-size: 12.5px;
	position: absolute;
	right: 20px;
	top: 10px;
}
.zhibo .zbBottom .qfl:after{
	content: ">";
	color: #ccc;
	padding-left: 5px;
}
/*tab样式的设计*/
.tabList{
	width: 375px;
	height: 43px;
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	border-top: 1px solid #efefef;
	z-index: 10;
}

.tabList .tabItem{
	display: block;
	text-decoration: none;
	flex: 1;
	height: 39px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tabItem .icon{
	width: 22px;
	height: 22px;
	background-image: url(../img/home.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	
}
#i2{
	background-image: url(../img/buy1.png);
}
#i3{
	background-image: url(../img/list.png);
}
#i4{
	background-image: url(../img/mytaobao.png);S
}
#i5{
	background-image: url(../img/moandmo.png);
}
.tabItem .text{
	font-size: 10px;
	color: #5d656b;
	transform: scale(0.9);
}